body {
    display: flex;
    flex-direction: column;
    background-image: url(https://source.unsplash.com/random/1920X1080/?night,storms&orientation=landscape);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 100vh;
}
 p {
    flex-direction: row;
    color: white;
    font-size: 50pt;
 }
.card {
    flex-direction: column;
}

